.login-container {
  display: flex;
  text-align: left;
  padding-inline: var(--spacing);
  padding-block: calc(var(--spacing) * 5);
  justify-content: center;
}

.login-container button {
  background-color: var(--elevation);
  font-weight: 700;
  flex-grow: 1;
  border: 0;
  height: 40px;
  padding-inline: var(--spacing);
  border-radius: calc(0.5 * var(--spacing));
  cursor: pointer;
  transition: all 0.2s;
}

.login-container button:hover {
  background-color: var(--foreground-muted);
  color: var(--elevation)
}

.main-filter {
  display: flex;
  width: 100%;
  gap: var(--spacing);
  margin-bottom: var(--spacing);
  align-items: end;
}

.main-filter button[data-disabled] {
  color: var(--foreground-muted);
}

.query-input {
  flex-grow: 1;
}

.query-input label {
  display: block;
  color: var(--foreground-muted);
  margin-bottom: calc(0.5 * var(--spacing));
}

.query-input input {
  font-size: 16px;
  padding: var(--spacing);
  width: 100%;
}

.query-input input:focus {
  outline: 1px solid var(--primary);
}
