.widgets-container {
  --primary: #a33b47;
  display: flex;
  gap: calc(var(--spacing) * 3);
  margin-top: calc(var(--spacing) * 4);
}

.widget-item {
  width: 400px;
  max-width: 400px;
  flex-shrink: 0;
  aspect-ratio: 3/4;
}
